<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @comment.user_id %>
</p>

<p>
  <strong>Charity:</strong>
  <%= @comment.charity_id %>
</p>

<p>
  <strong>Text space:</strong>
  <%= @comment.text_space %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
