<p id="notice"><%= notice %></p>
<div class="container">
	<div class="card">
		<div class="card-header">
			Charity Info
		</div>
  		<div class="card-body">
    		<h5 class="card-title"><%= @charity.charity_name %></h5>
    		<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    		<p class="card-text">funding: <%= @charity.funding %></p>
    		<% if user_signed_in? %>
				<%= link_to 'Edit', edit_charity_path(@charity) , class:"card-link"%> 
			<% end %>
    		<%= link_to 'Back', charities_path, class:"card-link" %>	
  		</div>
	</div>	
</div>
